@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="wrapper">
    <div class="alert alert-success col-6 text-center" role="alert">
        Your reservation has been saved successfully.
    </div>
    <div class="link-wrapper">
        <a asp-controller="Home" asp-action="Index" class="mx-5">Back to homepage</a>
        <a asp-controller="Reservations" asp-action="Index">View your reservations</a>
    </div>
    
</div>

@section Styles {
<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 65vh;
    }
</style>
}
